pipeline/016pplSplitDataMultipleCriteria.json
{
	"name": "016pplSplitDataMultipleCriteria",
	"properties": {
		"activities": [
			{
				"name": "GetCountryRegions",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT DISTINCT COUNTRY,REGION FROM dbo.InvoiceData\nORDER BY COUNTRY,REGION\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_ASQLInvoiceData",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Loop",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetCountryRegions",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetCountryRegions').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Set Country",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "Country",
								"value": {
									"value": "@item().COUNTRY",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set Regions",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "Region",
								"value": {
									"value": "@item().REGION",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Copy data",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Set Country",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Set Regions",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "@replace(replace('SELECT [YEAR],[MONTH],INVOICEID,SALES FROM dbo.InvoiceData\nWHERE COUNTRY = ''COUNTRYNAME'' AND REGION = ''REGIONNAME''',\n'COUNTRYNAME', variables('Country')),'REGIONNAME',variables('Region') )",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_ASQLInvoiceData",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "DS_COUNTRYREGIONS",
									"type": "DatasetReference",
									"parameters": {
										"ParamCountry": {
											"value": "@variables('Country')",
											"type": "Expression"
										},
										"ParamRegion": {
											"value": "@variables('Region')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"variables": {
			"Country": {
				"type": "String"
			},
			"Region": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-07-08T20:29:07Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}